APP_ENV=development

OTEL_SERVICE_NAME=mk-api-dev
OTEL_RESOURCE_ATTRIBUTES=service.name=mk-api-dev,service.version=0.1.0,deployment.environment=development,service.namespace=mkapi

OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp

OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf

OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
OTEL_PYTHON_LOG_LEVEL=info

NEW_RELIC_OTLP_ENDPOINT=https://otlp.nr-data.net:4318
NEW_RELIC_LICENSE_KEY=your_new_relic_ingest_license_key

POSTGRES_DB=microlab
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
POSTGRES_HOST_PORT=5433